body{
    font-family: Helvetica, arial, sans-serif;
}
/* font */
.header-sony{
    width: 100%;
    background-color: black;
}

.header-sony .container-fluid .row img{
    width: 100px;
    padding: .4rem;
}

.play-icon {
    color: #0070d1;
    font-size: 3rem;
}
.serach-icon{
    
    color: black;
    font-size: 1.5rem;
    padding-left: .5rem;

}