body{
    font-family: Helvetica, arial, sans-serif;
}
/* font */

/* generali */
.white{
    color: white;
}
.rounded-4{
    border-radius: 20px;
}
.tm-size{
    font-size: 0.6em;
    vertical-align: text-top;
}

/* generali */

/* header */
.header-sony{
    width: 100%;
    background-color: black;
}
.hamburger-menu{
    width: 100%;
    background-color: white;
}

.header-sony .container-fluid .row img{
    width: 100px;
    padding: .4rem;
}

.play-icon {
    color: #0070d1;
    font-size: 3rem;
}
.serach-icon{
    color: black;
    font-size: 1.5rem;
    padding-left: .5rem;
}
/* header */

/* jumbo */
.jumbo{
    margin-top: 100px;
    width: 100%;
    height: 600px;
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

.logo-returnal{
    max-width: 65%;
    
}
.returnal-title{
    font-size: 3em;
    
}

/* jumbo */

/* main img box */
.img-box{
    width: 100%;
        
}
.img-box img{
    width: 100%;
}

/* main img box */

/* main console e accessori */
.play-has-text{
    color: #0070d1;
    text-transform: uppercase;
}
.console-title{
    font-size: 2.3em;
    font-weight: bold;
}
.console-text-gray{
    /* font-weight: bold; */
    color: gray;
    font-size: 1.4em;
}

.text-accessories{
    display: none;
    font-size: 1.1em;
}

/* main console e accessori */

/* it take two */
.it-take-two-banner{
    width: 100%;
    height: 600px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.it-take-two-title{
    font-size: 2.5em;
}
.logo-it-take-two{
    max-width: 65%;
    
}

/* it take two */

/* nuove uscite */
.nuove-uscite{
    background-color: #1f1f1f;
    padding-bottom: 3em;
}
.img-box-new-exit{
    width: 100%;
        
}
.img-box-new-exit img{
    width: 100%;
}
/* nuove uscite */
@media  screen and (max-width:991px) {
    .display-none{
        display: none;
    }
    
    
}
@media screen and (min-width:767px) {
    .ps5-accessories{
        justify-content: space-between;
    }
    .text-accessories{
        display: block;
        
    }
}
